.container {
    width: 400px;
    margin: 0 auto;
}

.services-form {
    display: flex;
    align-items: center;
}
.form-column {

}
.form-label {
    display: block;
}
.filter-form {
    margin: 10px 0;
    background-color: lightblue;
    padding: 5px 0;
}
